html {
    background-color: #02040c;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


#aurora {
    width: 100vw;
    height: 100vh;
    /* border: solid 2px rgba(255,255,255,0.4); */
    /* filter: blur(11px); */
}
