body {
    background-color: #02040c;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}


#container {
    width: 90vw;
    height: 90vh;
    border: 1px grey solid;
    align-self: center;
}
